<div class="col-sm-10">
    <nav>
        <ul class="pagination page-list-pagination">
            <li ng-show="!page.first" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
            <li ng-show="!page.first" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
            <li ng-show="page.number > 2" ng-click="loadPage(page.number - 2)"><a>{{page.number - 2}}</a></li>
            <li ng-show="page.number > 1" ng-click="loadPage(page.number - 1)"><a>{{page .number- 1}}</a></li>
            <li class="active"><a>{{page.number + 1}}</a></li>
            <li ng-show="page.number < links['last']" ng-click="loadPage(page.number + 1)"><a>{{page.number + 1}}</a></li>
            <li ng-show="page.number < links['last'] - 1" ng-click="loadPage(page.number + 2)"><a>{{page.number + 2}}</a></li>
            <li ng-show="page.last" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
            <li ng-show="page.last" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
        </ul>
    </nav>
</div>
