$system-admin-color: #151B54;
$admin-color: lighten($system-admin-color, 15);
$manager-color: lighten($system-admin-color, 30);
$user-color: lighten($system-admin-color, 45);

$primary-color: #2196F3;
$title-color: #2196F3;
